header{
    color: yellow;
    background-color: blue;
    text-align: center;
    font-size: 50px;
    /*1st parameter 
        is right side if positive
        is left side if negative*/
    /*2nd parameter 
        is bottom if positive
        is top if negative*/
    text-shadow: 5px 5px purple;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
nav{
    position:-webkit-sticky;
    position: sticky;
    top: 58px;
    background-color: blue;
    text-align: center;
    font-size: 20px;
    /*order is top right left bottom*/
    padding: 15px 15px 15px 15px;
}
nav li{
    /*gets rid of bullet points*/
    list-style-type: none;
    /*displays navbar lettering horizontally*/
    display: inline;
    /*order is top right left bottom*/
    padding: 10px 10px 10px 10px;
    text-decoration: underline overline dotted purple;
}
nav img{
    height: 100px;
    width: 100px;
    float: left;
    margin-top: -70px;
    border-radius: 50%;
}
/*when link has been visited*/
nav a:visited{
    color: yellow;
}
/*when link has not been visited yet*/
nav a:link{
    color: yellow;
    text-decoration-line: underline overline;
    text-decoration-style: dotted;
}
/*when hovering over any of the navbar links*/
nav a:hover{
    background-color: cyan;
}
/*when switching over to a page and that page is active, color shows*/
nav a:active{
    color:purple;
}
.column1{
    float: left;
    width: 49%;
    margin-top: 20px;
    margin-right: 1%;
    box-sizing: border-box;
    border-style: solid;
    border-color: aquamarine;
    border-width: 8%;
    background-color: yellow;
    padding: 10px;
}
.column2{
    float: left;
    width: 49%;
    margin-top: 20px;
    margin-left: 1%;
    box-sizing: border-box;
    border-style: solid;
    border-color: aquamarine;
    border-width: 8%;
    background-color: yellow;
    padding: 10px;
}
.row{
    display: table;
}
.row2{
    display: table;
}
.column{
    /*font change to festive*/
    font-family: 'Festive', cursive;
    padding: 15px 15px 15px 15px;
}
.left, .middle{
    float: left;
    margin-top: 45px;
    margin-right: 5%;
    width: 30%;
    box-sizing: border-box;
    border: 3px solid seagreen;
}
.right{
    float: right;
    margin-top: 45px;
    width: 30%;
    box-sizing: border-box;
    border: 3px solid seagreen;
}
col{
    width: 100%;
}
.lt, .center{
    float: left;
    margin-right: 8%;
    margin-top: 25px;
    width: 20%;
}
.rt{
    float: right;
    margin-top: 25px;

}
footer{
    clear: both;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: blue;
    color: yellow;
    text-align: center;
    padding-top: 15px;
}
/*
i{
    font-size: 100px;
}*/
footer a:visited{
    color: yellow;
}
footer a:link{
    color: yellow;
    text-decoration: none;
}
footer a:hover{
    color: cyan;
}